<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD
  Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>
 
<web-app>

    <context-param>
        <param-name>dbUser</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>1234</param-value>
    </context-param>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/users_db</param-value>
    </context-param>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserDataEchoServlet</servlet-name>
        <servlet-class>UserDataServlet</servlet-class>
    </servlet>



    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello_servlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserDataEchoServlet</servlet-name>
        <url-pattern>/user_data</url-pattern>
    </servlet-mapping>

</web-app>